html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    /* user-drag: none; */
    -webkit-touch-callout: none;
}

#touch-controls {
    visibility: hidden;
}

#d-pad-div {
    opacity: 0.7;
}

#d-pad {
    position: absolute;
    left: 0px;
    top: 0px;
}

#d-pad-deadzone {
    position: absolute;
    left: 0px;
    top: 0px;
}

#button-duck-jump {
    position: absolute;
    left: 100px;
    top: 0px;
    opacity: 0.7;
}

/* #button-a {
    position: absolute;
    left: 100px;
    top: 0px;
    opacity: 0.7;
}

#button-b {
    position: absolute;
    left: 200px;
    top: 0px;
    opacity: 0.7;
} */

#editor {
    visibility: hidden;
    position: absolute;
    left: 20px;
    top: 0px;
}

h1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}