html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}

#touch-controls {
    visibility: hidden;
}

#d-pad {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.7;
}

#button-a {
    position: absolute;
    left: 100px;
    top: 0px;
    opacity: 0.7;
}

#button-b {
    position: absolute;
    left: 200px;
    top: 0px;
    opacity: 0.7;
}